* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
h1, p {
    margin: 10px auto;
    padding:10px;
}
h1 {
    background-color: rgb(255, 157, 157);
    width:500px;
}
p {
    background-color: rgb(200, 200, 255);
    width: 500px;
    font-size:large;
}
/* unordered List section! */
/* shared list styles */
ul, ol {
    margin: 0 auto;
    width:500px;
    padding-top:10px;
    padding-bottom:10px;
}
ul, 
h2.ingredients {
    color:rgb(1, 43, 1);
    background-color:rgb(156, 216, 198);
    border: solid 2px rgb(94, 112, 194);
}
ul {
    border: solid 2px rgb(94, 112, 194);
    background-color:rgb(156, 216, 198);
}
ul li {
    font-size:large;
    border: dotted blue 2px;
    margin-top:4px;
    margin-left: -18px;
    margin-right: 18px;
    padding:2px;
    background-color:rgb(184, 255, 184);
    width:auto;   
}
ul ul {
    width: auto;
    border:0;
    margin-left: -40px;
    padding-left:24px;
}
ul ul li {
    margin-left:30px;
}
/* Figure, image and figcaption section */
figure {
    border:dotted blue 2px;
    padding-top:10px;
    width:500px;
    margin:0px auto;
}
figure img {
    margin-left:100px;
}

figcaption {
    text-align: center;
    font-size: small;
    padding-bottom:5px;
    color:rgb(71, 13, 13);
}
/* Ordered list section */
ol, 
h2.steps {
    color:rgb(61, 0, 73);
    background-color:rgb(255, 201, 246);
    border: rgb(163, 0, 90) solid 2px;
}

ol {
    border: rgb(163, 0, 90) solid 2px;
    padding-right:10px;
    background-color:rgb(255, 201, 246);
    
}
ol li {
    border: dotted 2px rgba(221, 0, 103, 0.863);
    margin:4px;
    margin-left:-15px;
    padding:2px;
    background-color:rgb(255, 230, 244);
}

h2 {
    margin:10px auto;
    width:500px;
    text-align: center;
    padding:2px;
}